[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = :lollipop:My Solutions to LeetCode
[access "refs/*"]
	owner = group user/Jason Lin (JasonLin1230)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jason Lin (JasonLin1230)
	label-Verified = -1..+1 group user/Jason Lin (JasonLin1230)
	push = group user/Jason Lin (JasonLin1230)
	read = group user/Jason Lin (JasonLin1230)
	rebase = group user/Jason Lin (JasonLin1230)
	removeReviewer = group user/Jason Lin (JasonLin1230)
	submit = group user/Jason Lin (JasonLin1230)
[access "refs/heads/*"]
	create = group user/Jason Lin (JasonLin1230)
	push = +force group user/Jason Lin (JasonLin1230)
	pushMerge = group user/Jason Lin (JasonLin1230)
	read = group user/Jason Lin (JasonLin1230)
[access "refs/tags/*"]
	push = group user/Jason Lin (JasonLin1230)
	push = +force group user/Jason Lin (JasonLin1230)
